main {
  margin-top: rem-calc(100);
  margin-bottom: rem-calc(100);

  img {
    clear: both;
    display: block;
  }
}

#close {
  position: fixed;

  top: rem-calc(40);
  right: rem-calc(40);
  font-size: rem-calc(60);
  line-height: 1rem;

  cursor: pointer;
}
